<html>
    <body>
        <h1> Edit Menu Item </h1>

        <form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id )}}" method = 'POST'>

            <p>Name:</p>

            <input type='text' size='30' name='name' value='{{item.name}}'maxlength='80' required >

            <p>Description:</p>

            <textarea name='description' cols='30' rows='10' required>{{item.description}}</textarea>

            <P>Price:</P>
            
            <input type='text' name='price' size='30' value='{{item.price}}' maxlength='8' required >

            <p>Course:</p>
            
            <input type='text' size='30' name='course' size='30' value='{{item.course}}' maxlength='250' required>

            <input type='submit' value='edit'>
        </form>
        <a href= "{{url_for('restaurantMenu', restaurant_id= item.restaurant_id)}}">Cancel</a>
    </body>
</html>

